.TaskEdit_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
  width: calc(100vw - 200px);
  height: 100vw;
  margin-left: 200px;
  border-radius: 20px;
}

.TaskEdit_title {
  width: 420px;
  text-align: left;
  color: #666666;
  font-size: 1.4rem;
  margin-top: 50px;
}

.TaskEdit_form {
  display: flex;
  flex-direction: column;
  color: white;
}

.TaskEdit_input {
  margin-top: 20px;
  height: 40px;
  width: 400px;
  padding-left: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #4885a2;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}

.TaskEdit_input-description {
  background-color: white;
  min-height: 100px;
}

.TaskEdit_submit {
  width: 400px;
}

.TaskEdit_select-list {
  width: 400px;
  margin-top: 30px;
  border: 1px dashed black;
  padding: 20px 0;
}

.TaskEdit_select-list p {
  color: black;
}

.TaskEdit_form label {
  display: none;
}

.TaskEdit_new-select {
  width: 90px;
  height: 20px;
  background-color: #0F94FB;
  box-shadow: 0 5px 6px -4px rgba(0,0,0,0.22), 0 10px 13px -4px rgba(0,0,0,0.34), inset 0 30px 30px 0 rgba(255,255,255,0.35), inset 0 -30px 30px 0 rgba(0,0,0,0.10);
  border-radius: 10px;
}

.TaskEdit_submit {
  height: 30px;
  margin-top: 15px;
  background-color: #0F94FB;  
  box-shadow: 0 5px 6px -4px rgba(0,0,0,0.22), 0 10px 13px -4px rgba(0,0,0,0.34), inset 0 30px 30px 0 rgba(255,255,255,0.35), inset 0 -30px 30px 0 rgba(0,0,0,0.10);
}
