.Task_card {
  width: 250px;
  height: 200px;
  margin: 20px;
  background-color: #CECECE; }

.Task_top {
  display: flex;
  justify-content: space-between; }

.Task_edit-btn {
  position: absolute;
  visibility: hidden; }

.Task_card:hover .Task_edit-btn {
  visibility: visible; }
