.Task_card {
  width: 250px;
  height: 200px;
  margin: 20px;
  background-color: #CECECE;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px; }

.Task_top {
  display: flex;
  justify-content: space-between; }

.Task_edit-btn {
  position: relative;
  background-color: #0F94FB;
  border-radius: 5px;
  height: 20px;
  width: 40px;
  margin: 10px; }

.Task_name {
  margin: 10px;
  font-weight: 800; }

.Task_desc {
  margin-left: 10px;
  text-align: left; }
