.nav__site {
  position: fixed;
  z-index: 1;
  width: 200px;
  background-color: #364051; }

.user {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.user img {
  height: 80px;
  border-radius: 50%; }

.user p {
  margin-top: 30px;
  color: #aebacc; }

.nav__site h3 {
  margin-left: 30px;
  line-height: 3;
  font-size: .8rem;
  color: #626f81; }

.nav__site a {
  padding: 13px 60px 13px 30px;
  line-height: 3;
  text-transform: uppercase;
  text-decoration: none;
  color: #aebacc; }

.nav__site a:hover {
  color: #f0f6f7;
  cursor: pointer; }

.nav__site li {
  font-size: .9rem;
<<<<<<< HEAD
  text-align: left;
  width: 100%;
  box-sizing: border-box;
=======
>>>>>>> Add course card css to match task cards
  transition: .3s;
  list-style-type: none;
  float: left; }

.nav__site li:hover {
  border-left: 3px solid aqua;
  background-color: #303a4b;
  cursor: pointer; }

.nav__icon {
  margin-right: 10px; }

.nav__icon:hover {
  color: #f0f6f7;
  cursor: pointer; }

hr {
  border: 1px solid #303a4b; }
