.nav__site {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 200px;
  background-color: #4885a2;
}

.user {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}

.user img {
  height: 80px;
  border-radius: 50%;
}

.user p {
  margin-top:30px;
  color: #aebacc;
}

.nav__site h3 {
  line-height: 3;
  font-size: .8rem;
  color: rgb(98, 111, 129);
}

.nav__site a {
  padding: 13px 60px 13px 30px;
  line-height: 3;
  text-transform: uppercase;
  text-decoration: none;
  color: #aebacc;
}

.nav__site a:hover {
  color: rgb(240, 246, 247);
  cursor: pointer;
}

.nav__site li {
  font-size: .9rem;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  transition: .3s;
  list-style-type: none;
  float: left;
}

.nav__site li:hover {
  border-left: 3px solid aqua;
  background-color: rgb(48, 58, 75);
  cursor: pointer;
}

.nav__icon {
  margin-right: 10px;
}

.nav__icon:hover {
  color: rgb(240, 246, 247);
  cursor: pointer;
}

hr {
  border: 1px solid rgb(48, 58, 75);
}
