.CourseCreate_page {
  margin-left: 200px;
  width: calc(100% - 200px);
  padding-top: 20px;
}

.CourseCreate_page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.CourseCreate_page h2 {
  font-size: 20px;
  margin-top: 20px;
}

.CourseCreate_form input {
  display: block;
  margin: 10px auto;
  width: 400px;
  height: 20px;
}

.CourseCreate_form textarea {
  display: block;
  margin: 10px auto;
  width: 400px;
  min-height: 100px;
}

.CourseCreate_form button {
  display: block;
  margin: 20px auto
}

.tasksArea {
  width: 400px;
  min-height: 200px;
  border: .5px solid;
  margin: 20px auto;
}

.studentsArea {
  width: 400px;
  height: 150px;
  border: .5px solid;
  margin: 20px auto;
  overflow: scroll;
}

.CourseStudentCard {
  width: 300px;
  border: 1px dashed black;
  margin: 5px auto;
}