.courses_container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
  margin-left: 200px;
  width: calc(100vw - 200px);
  padding-top: 100px;
  background-color: #efefef;
  min-height: 100vh; }

.course_cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  background-color: #efefef;
  border-radius: 5px;
  height: fit-content; }

.new_course_button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 40px;
  background-color: #4885a2;
  border-radius: 5px;
  font-weight: 800;
  font-size: .9rem;
  color: white;
  cursor: pointer; }
