.LogIn {
  border: 1px solid #0066B4;
  width: 300px;
  height: 150px;
  margin: auto;
  position: relative;
  top: 200px;
  left: 100px; }

.LogIn_tab {
  box-sizing: border-box;
  width: 50%;
  border-bottom: 1px solid #0066B430;
  display: inline-block;
  height: 25px;
  padding-top: 3px;
  cursor: pointer; }

.LogIn_tab__active {
  background-color: #0066B430; }

.LogIn input {
  width: 70%;
  height: 20px;
  margin: 10px auto;
  display: block;
  padding-left: 5px; }

.LogIn button {
  width: 70%;
  height: 25px;
  border: .5px solid #0066B430; }

.LogIn button:enabled {
  background-color: #0066B430; }
