.Teacher_home-container {
  width: calc(100vw - 200px);
  height: 100vh;
  margin-left: 200px;
  background-color: #efefef;  
  padding-top: 40px;
}

.Teacher_board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 70vw;
  height: 80vh;
  background-color: #efefef;
}

.Teacher_view {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 400px;
  height: 250px;
  color: white;
  background-color: grey;
  font-family: 'Open Sans', sans-serif;
}

.Teacher_view h3 {
  font-size: 2rem;
}

.Teacher_options {
  visibility: hidden;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 150px;
  height: 250px;
  background-color: #0F94FB50;
}

.add-btn,
.view-btn {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.view-btn img {
  pointer-events: none;
}

.Teacher_view:hover .Teacher_options {
  visibility: visible
}

.Teacher_options div:hover, 
.Teacher_options img:hover {
  background-color: #0F94FB;
}

.add-btn {
  font-size: 3rem;
}
