.CourseTaskCard {
  width: 300px;
  border: 1px dashed black;
  margin: 5px auto; }

.CourseTaskCard:hover {
  cursor: pointer; }

.CourseTaskCard h4 {
  display: inline-block; }

.CourseTaskCard img {
  float: right;
  padding: 3px 3px 0px 0px;
  cursor: initial;
  width: 10px;
  height: 10px; }
